*{
    margin: 0;
    padding: 0;
}
html{
    /*font-size: 64%;*/
}
body{
    /*font-size: 1.5rem;*/
    font-family: Arial, Helvetica, sans-serif;
    background: #f0f0f0;
    color: #292929;  
    min-height: 100vh;
    position: relative;
    margin: 0;
    padding:0;
    padding-bottom: 50px; /*height of the footer*/
    box-sizing: border-box;
}
.table{
    background: #fff;
    font-size: .8rem;
}
.table tr:nth-child(2n) {
    background: #e3e3e3;
}
#logo{
    width: 100rem;
}

.error{
    color: #ee0000;
}
/*
display:flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
*/
.btn-container{
    margin-top: 1rem;;
}
.button{
    padding: 1rem;
    background: #b91c29;
    color:  #ffffff;
    border-radius: 2rem;;
}
a.button{
    text-decoration: none;
}
.bg-red-pj{
    background: #941822;
}
.btn-dark.btn.bg-red-pj:hover{
    background: #70141c;
}
.btn-dark.btn.bg-red-pj:active{
    background: #580f15;
}
.btn-dark.btn.bg-red-pj:focus{
    background: #580f15;
}
.page-footer {
    color:  #ffffff;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
}
footer.div{
    padding:0;
}
.card{
    border-radius: 1rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
.card-login{
    width: 18rem;
}
.card-login img{
    width: 142px;
    height: 200px;
    margin: 0 auto 10px;
    display: block;
}

.form-inline .form-control.registro-select{
    width: 20rem;
}
#logo-main-index{
    width: 25rem;
}

/* .regiones-map{
    width: 33rem;
} */

.header-main{
    font-weight: bold;
    color: #941822;
}
.tbl-heading:hover{
    cursor: pointer;
}
.page-item.active .page-link {
    background-color: #941822;
    border-color: #dee2e6;
}

.page-link{ 
    color:  #2b2b2b;
}
.page-link:hover {
    color: #941822;
}
.img-inmueble{
    width: 40vw;
    /* max-width: 41rem; */
    border-radius: 1rem;
}
.rounded{
    border-radius:1rem !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}